<li><a href="@(Context.GetLink("api"))">API</a></li>
<li><a href="https://github.com/daveaglick/Buildalyzer">GitHub</a></li>
<li class="buymeacoffee"><a href="https://www.buymeacoffee.com/daveaglick"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee"></a></li>